<div class="bar bar-header bar-dark">
<!-- <ion-nav-buttons side="left">
 -->   <button menu-toggle="left" class="button button-icon ion-ios7-drag"></button>
	<!-- </ion-nav-buttons> -->
	<h1 class="title">About Seth</h1>
</div>
<ion-content
	delegate-handle=""
	padding="true"
	scroll=""
	overflow-scroll=""
	has-bouncing=""
	on-scroll=""
	style="text-align:justify;"
	on-scroll-complete="">
	<h3>SETH</h3>
	<p><b>S</b>pace <b>E</b>vents <b>T</b>racking <b>H</b>ub</p>
	<p>This project is solving the <a href="https://2014.spaceappschallenge.org/challenge/space-mission-roadmap/"> Space Mission Roadmap </a> solution for the Space Apps NASA challenge. </p>
	<p>An app for those space enthusiasts that want a briefing of every mission in the palm of their hand.</p>

	<p>
		From a general overview to a detailed look Seth got it covered of the many things the user can do we will point the most notorius:

		<br><br><i class="ion-ios7-circle-filled"></i>&nbsp;&nbsp;&nbsp;Overview of missions with filtering by date, by agency, by type, by destination and by goals.

		<br><br><i class="ion-ios7-circle-filled"></i>&nbsp;&nbsp;&nbsp;Detailed view of every mission giving information available about technology, objectives, crew, stages, dates, documents, pictures, video links and news related.

		<br><br><i class="ion-ios7-circle-filled"></i>&nbsp;&nbsp;&nbsp;Suscribe to an event of a mission te receive reminders and updates by push notifications.
		<br>
	</p>

<p>Seth fuels your love for the space with a full hub of information from agencies like NASA and ESA</p>
	<div class="card">
		<div class="item item-text-wrap">
			<p>
				Made with <i class="ion-ios7-heart"></i> by Starkware Team
			</p>
		</div>
	</div>
</ion-content>