<ion-view title="Event Detail">
<ion-tabs tabs-type="tabs-icon-left" class="tabs-dark tabs-icon-left">

	<ion-tab title="Brief" icon-on="ion-ios7-information" icon-off="ion-ios7-information-outline">
		<ion-content class="has-header">
				<!-- Tab 1 content -->
			<div class="card">
				<div class="item item-text-wrap">
					<h1><small>{{singleEvent.name}}</small></h1>
				</div>
			</div>
			<div class="card">
				<div class="item item-image">
					<img src="http://placehold.it/220x150">
				</div>
				<div class="item item-text-wrap">
					This is a basic Card which contains an item that has wrapping text. Here goes the event description
				</div>
			</div>
			<div class="card">
				<div class="item item-text-wrap">
					<i class="ion-ios7-calendar"></i>  The Info Calendar <br>
					<i class="ion-ios7-timer"></i> The Timer For The Event
				</div>
			</div>
		</ion-content>
	</ion-tab>
	<ion-tab title="Description" icon-on="ion-ios7-copy" icon-off="ion-ios7-copy-outline">
	<ion-content class="has-header">
				<!-- Tab 1 content -->
			<div class="card">
				<div class="item item-text-wrap">
					<strong>Event Name</strong>
				</div>
			</div>
			<div class="card">
				<!-- <div class="item item-image">
					<img src="http://placehold.it/220x150">
				</div> -->
				<div class="item item-text-wrap">
					This is a basic Card which contains an item that has wrapping text. Here goes the event description
				</div>
			</div>
			<div class="card">
				<div class="item item-text-wrap">
					  The Info Calendar <br>
					 The Timer For The Event
				</div>
			</div>
			<div class="card">
				<div class="item item-text-wrap">
					 <strong> Header </strong> <hr>
					 The paragraph for the header
				</div>
			</div>

		</ion-content>
	</ion-tab>

	<ion-tab title="Options" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
		<!-- Tab 3 content -->
		<ion-content class="has-header">
			<div class="card">
				<div class="item item-divider">
					Notify Me
				</div>
				<div class="item item-text-wrap">
					<p>Press the button to schedule this events.</p>
						<button class="button button-dark">
						 	button-dark
						</button>
				</div>
			</div>
		</ion-content>
	</ion-tab>

</ion-tabs>

</ion-view>

