/*SETH CSS*/

body {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.72222;
	color: #34495e;
	background-color: #ffffff;
}
a {
	text-decoration: none;
}

/*
.bar.bar-stable {
	border-color: #ECECEC;
}*/